body {
    font-size: 14;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1440px;
    margin: 0, auto;
}
.cat {
    max-width: 500px;
    height: auto;
}
.lion {
    max-width: 500px;
    height: auto;
}